
.title {
  color: #047ff3;
  transition: all 0.2s ease-out;
  text-decoration: none;
  font-size: inherit;
  letter-spacing: 0px;
}

.title:hover {
  color: #7304f3;
  transition: all 0.2s ease-out;
  text-decoration: underline;
  letter-spacing: 6px;
  font-size: 40px;
  cursor: pointer;
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* 
h2,
h3,
a {
  color: #34495e;
}

a {
  text-decoration: none;
} */

/* .mya {
  color: #047ff3;
  transition: all 0.2s ease-out;
  font-size: inherit;
}

.mya:hover {
  color: #000000;
  transition: all 0.2s ease-out;
  text-decoration: underline;
  font-size: 50px;
} */
/* a:hover {
  color: #ff0000;

} */

.logo {
  margin: 0;
  font-size: 1.65em;
}

.main-nav {
  /* display: flex; */
  margin-top: 5px;
}

.logo a,
.main-nav a {
  /* padding: 10px 15px; */
  text-transform: uppercase;
  text-align: center;
  font-size: 55px;
  font-weight: bold;
  display: block;
}

.main-nav a {
  color: #0080ff;
  font-size: 0.99em;
  display: flexbox;
  /* padding: 10px 15px; */
  /* margin: 10px 15px; */
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.main-nav a:hover {
  color: #ff00ea;
  transition: all 0.3s ease-in-out;
}

.header {
  display: flex;
  height: 75px;
  align-items: center;
  justify-content: center;
  
  margin-top: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  /* background-color: #f4f4f4;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75); */
}

.loading {
  opacity: 0;
  transition: all 0.2s ease-in;
}

.loaded {
  opacity: 1;
  transition: all 0.2s ease-in;
}
